/* 全体整える用のCSS */
.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

h2 {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: #fff;
  font-size: 26px;
  text-align: center;
  font-weight: 580;
}

p {
  color: #fff;
  font-size: 16px;
  /* text-align: center; */
  font-weight: 580;
  line-height: 2.0;
}

a:hover {
  color: rgb(238, 77, 0);
}

a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: black;
  padding: 18px 30px;
  border-radius: 6px;
  transition: .3s;
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
}

.button value{
  display: flex;
  justify-content: center;
}

.button1:hover {
  opacity: 0.6;
}

.button2:hover {
  opacity: 0.6;
}

span {
  color: rgb(238, 77, 0);
  font-family: "AxisStd", "M PLUS 1p";
}

/* ---------------------------------------------------- */
/* ヘッダー部分のCSS */
#header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color:white
}

#header.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

.header-logo {
  display: inline-block;
  height: 140px;
  margin-top: 15px;
  margin-left: 15px;
}

.header-logo img {
  height: 100%;
}

.header-list ul{
  color: black;
  display: flex;
  justify-content: flex-end;
}

.header-list li {
  font-size: 21px;
  margin-right: 2vw;
  margin-top: 50px;
  margin-bottom: 50px;
  list-style-type: none;
}

/* ---------------------------------------------------- */
/* ファーストビュー画像のCSS */
.mainvisual {
  position: relative;
  display: flex;
  justify-content: center;
 }

.mainvisual img {
  width: 100%;
}

.main_copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main_copy  {
  font-size: 2vw;
  line-height: 0.5;
}

.main_copy p {
  font-size: 2vw;
  color: #fff;
  line-height: 0.5;
}

.copy_01 {
  font-size: 15vw;
  color: rgb(238, 77, 0);
  margin-bottom:5vw;
}

.copy_02 {
  font-weight: 580;
  font-family: "DIN Alternate", "Bebas Neue";
  color: #fff;
}

.copy_03 {
  font-weight: 600;
  font-family: "AxisStd", "M PLUS 1p";
  color: #fff;
}
/* ---------------------------------------------------- */
/* スライダーのcss */
.slider {
  padding-left: 0;
  padding-bottom: 40px;
}
.slider img {
  width: 100%;
  height: auto;
}

.slider li {
  list-style-type: none;
}
/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
.slider .slick-slide {
  margin: 0 10px;
}
/* ---------------------------------------------------- */
/* ConseptのCSS */
.concept_text {
  margin-bottom: 80px;
}

.concept_text p {
  text-align: center;
}
/* ---------------------------------------------------- */
/* Consept画像のCSS */
.concept {
  padding-bottom: 60px;
}

.concept_text {
  padding-bottom: 10px;
}

.consept_01 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* 
#moving-image {
  position: absolute;
} */

.consept_01_picture {
  width: 50%;
}

.consept_01_picture img{
  width: 100%;
  height: auto;
}

.consept_01_text {
  width: 50%;
  height: auto;
}

/* 2行目の画像と説明 */
.consept_02 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.consept_02_picture {
  width: 50%;
  height: auto;
}

.consept_02_picture img {
  width: 100%;
  height: auto;
}

.consept_02_text {
  width: 100%;
  width: 600px;
}

.consept_02_text h2 {
  text-align: left;
  margin-top: 90px;
  margin-left: 130px;
}

.consept_02_text p {
  text-align: left;
  margin-left: 130px;
}

/* 3行目の画像と説明 */
.consept_03 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.consept_03_picture {
  width: 50%;
}

.consept_03_picture img {
  width: 100%;
  height: auto;
}

.consept_03_text {
  width: 50%;
  height: auto;
}

/* ---------------------------------------------------- */
/* CourseのCSS */
.course {
  text-align: center;
}

/* アコーディオンメニュー */
.details {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;

  &:last-of-type {
    border-bottom: 2px solid black;
  }
}

.details-summary {
  position: relative;
  display: block;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(238, 77, 0);

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .btn {
    position: absolute;
    top: 37%;
    left: 10%;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    transition-duration: 0.2s;

    &:before,
    &:after {
      content: "";
      background-color: #fff;
      border-radius: 10px;
      width: 18px;
      height: 4px;
      position: absolute;
      top: 7px;
      left: 0;
      transform-origin: center center;
    }

    &:before {
      width: 4px;
      height: 18px;
      top: 0;
      left: 7px;
    }
  }

  &.is-active {
    .btn {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);

      &:before {
        content: none;
      }
    }
  }
}

.details-summary::-webkit-details-marker {
  display: none;
}

.details-content {
  padding: 20px;

  p {
    margin: 0 0 20px;
    color: #000;
    font-size: 18px;
    text-align: left;

    &:last-of-type {
      margin: 0 0 0;
    }
  }
}

/* ---------------------------------------------------- */
/* NEWSのCSS */

.review_title {
  margin-top: 80px;
}
.review {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.review_box {
  width: 300px;
  margin-right: 30px;
}

.review_box img{
  width: 300px;
  margin-right: 30px;
}
.review_box p{
  font-size: 14px;
}

/* ---------------------------------------------------- */
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #942D2F;
  border-radius: 6px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
}

#page-top a:hover {
  background: #777;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 下に下がる動き */

#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
/* ---------------------------------------------------- */
/* ボタンのCSS */
/* .button1 {
  color: #fff;
  background-color: #ffd61a;
  border-color: #cacaca;
  height: 60px;
  width: 300px;
  margin-top: 60px;
  margin-bottom: 60px;
  align-items: center;
  font-size: 18px;
} */

/* ---------------------------------------------------- */
/* AccessのCSS */
.access_wrapper {
  text-align: center;
  color: #fff;
}

.access_header h2{
  margin-top: 60px;
  margin-bottom: 30px;
}

.access_header p {
  margin-bottom: 60px;
}

.access_table {
  text-align: left;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.access_table th{
  height: 50px;
  padding-right: 50px;
}

.access_table td {
  margin: 30px;
}

/* ---------------------------------------------------- */
/* CONTSACTのCSS */
.faq {
  padding-top: 40px;
  padding-bottom: 30px;
}
.faq p{
  text-align: center;
}


/* ---------------------------------------------------- */
/* CONTSACTのCSS */
.contact {
  text-align: center;
}

.contact p {
  margin: 0px;
}

.contact h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.contact_text_02 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.contact_text_03 {
  margin-bottom: 70px;
}

/* 問い合わせフォームのCSS */
.register {
  display: flex;
  justify-content: center;
  text-align: left;
  color: #fff;
}

.register th{
  padding-left: 16px;
  border: 1px solid #bfbfbf;
  border-left: 0px solid #bfbfbf;
  width: 240px;
  height: 36px;
}

.register td {
  border: 1px solid #bfbfbf;
  border-right: 0px solid #bfbfbf;
  width: 600px;
  height: 36px;
}

.form {
  height: auto
}

input[type="text"] {
  height: 36px;
  width: 328px;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

input[type="text2"] {
  height: 150px;
  width: 328px;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

select {
  height: 42px;
  width: 335px;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}
/* チェックボックスのCSS */
.ch{
  height: 24px;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

/* 問い合わせフォーム送信ボタンのCSS */
.button2 {
  color: #fff;
  background-color: rgb(238, 77, 0);
  border-color: #cacaca;
  height: 60px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 140px;
  align-items: center;
  font-size: 18px;
}
/* ---------------------------------------------------- */
/* FOOTER */
.footer{
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #707070;
  padding-top: 30px;
  padding-bottom: 30px;
}
